# RabbitMQ
RABBITMQ_ADMIN_USER=admin
RABBITMQ_ADMIN_PASSWORD=admin
RABBITMQ_API_USER=api
RABBITMQ_API_PASSWORD=test
RABBITMQ_MQTT_USER=mqtt
RABBITMQ_MQTT_PASSWORD=mqtt

# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=iot_registry