[
  {amqp_client, [
      {ssl_options, [
          {cacertfile, "/etc/rabbitmq/tls/ca_certificate.pem"},
          {certfile, "/etc/rabbitmq/tls/client/client_certificate.pem"},
          {keyfile, "/etc/rabbitmq/tls/client/client_key_unencrypted.pem"},
          {verify, verify_peer},
          {fail_if_no_peer_cert, true}
      ]}
  ]}
].



